<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">

    <persistence-unit name="VISEOCOMPANION" transaction-type="RESOURCE_LOCAL">
    
    
        <description>
            Persistence unit for the the project VISEO COMPANION
        </description>
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
		<class>com.viseo.companion.events.domain.Event</class>
		<class>com.viseo.companion.accounts.domain.Account</class>
		<class>com.viseo.companion.accountEvents.domain.AccountEvent</class>
		<class>com.viseo.companion.accountEvents.domain.AccountEventID</class>
		<properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" />
            <property name="hibernate.show_sql" value="true" />
            <property name="hibernate.hbm2ddl.auto" value="create-drop" />
        </properties>
        

    </persistence-unit>
    
</persistence>